:root {
  --purple: #646cff;
  --bgcolor: #242424;
  --bgbutton: #141414;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bgcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--purple);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-size: 1em;
  line-height: 1.1;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

h2 ~ p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bgbutton);
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: var(--purple);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

input[type='text'] {
  font-size: 1em;
  padding: 0.6em;
  border-radius: 8px;
  border: 1px solid #444444;
  background-color: var(--bgbutton);
  color: rgba(255, 255, 255, 0.87);
  font-family: inherit;
  width: 200px;
  margin-right: 0.5rem;
}

main {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

#header {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

#app {
  width: 600px;
  max-width: 100%;
  & p,
  & li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#clients {
  border: 0;
  margin: 0;
  top: 4rem;
  padding: 0;
  position: relative;
  left: calc((100vw - 640px) / 2 + 640px - 146px);
  background-color: var(--bgcolor);
}

.client-link {
  width: 130px;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  margin: 0.6rem auto;
  font-family: inherit;
  background-color: var(--bgbutton);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--purple);
    color: #ffffff;
  }
}

.note-display {
  width: 100%;
}

.note-metadata {
  margin: 1em 0;
  & > div {
    margin-bottom: 1rem;
  }
}

.note-content {
  margin-bottom: 2em;
  word-break: break-word;
}

.user-profile {
  & img.user-picture {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 2rem 0;
    border: 1px solid silver;
  }
  & ul {
    padding: 0;
    margin-top: 0;
    & li {
      margin: 0.2em 0;
      max-width: 600px;
    }
  }
}

.user-details > div {
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 640px) {
  #clients {
    left: calc(100vw - 164px);
    background-color: var(--bgcolor);
  }
}
